@use '../utils/mixins.scss' as *;

.adress {
  &__wrapper {
    grid-column: span 2;

    @include grid;

    h4,
    p {
      grid-column: 1/-1;
    }

    @include for-ipad {
      grid-column: 1 / 4;
    }

    @include for-desktop {
      grid-column: 1 / 6;
    }
  }

  &__phone {
    display: inline-block;
    font-family: Manrope, sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.15px;
    margin-bottom: 24px;
    text-decoration: none;
    color: #1b2129;

    &:hover {
      color: #f98921;
    }
  }

  &__email {
    display: inline-block;
    font-family: Manrope, sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.15px;
    margin-bottom: 24px;
    text-decoration: none;
    color: #1b2129;

    &:hover {
      color: #f98921;
    }
  }

  &__content {
    font-family: Manrope, sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.15px;
    text-decoration: none;
    color: #1b2129;

    &:hover {
      color: #f98921;
    }
  }
}
