@use '../utils/mixins.scss' as *;

.items {
  grid-template-rows: auto;

  @include grid;

  &--wrapper {
    grid-column: span 2;

    @include for-ipad {
      grid-column: span 6;
    }

    @include for-desktop {
      grid-column: span 4;
    }
  }

  &__photo {
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 24px;

    transition: transform 0.5s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__description {
    font-family: Manrope, sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.15px;
    margin-bottom: 12px;

    @include for-ipad {
      margin-bottom: 34px;
    }
  }

  &__price {
    font-family: Manrope, sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0;
    margin-bottom: 40px;
  }
}
