@use '../utils/mixins.scss' as *;

.title {
  font-family: Manrope, sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  color: #fff;

  display: flex;
  align-items: center;
  letter-spacing: 0;

  &--wrapper {
    grid-template-rows: auto;

    @include grid;
  }

  &--lessspacing {
    font-family: Manrope, sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: #1b2129;
    margin-bottom: 24px;
    padding-top: 48px;

    @include for-ipad {
      grid-column: 1 / 7;
      margin-bottom: 56px;
      font-size: 40px;
      line-height: 32px;
    }
  }

  &--secondary {
    font-family: Manrope, sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: #1b2129;
    margin-bottom: 48px;
    padding-top: 48px;

    grid-column: span 2;

    @include for-ipad {
      grid-column: 1 / 7;
      padding-top: 120px;
      margin-bottom: 56px;
      font-size: 40px;
      line-height: 32px;
    }

    @include for-desktop {
      grid-column: 1/13;
      padding-top: 120px;
      font-size: 40px;
      line-height: 40px;
    }
  }

  &--tertiary {
    font-family: Manrope, sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0;
    color: #1b2129;
    margin-bottom: 8px;
  }

  &--categories {
    font-family: Manrope, sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0;
    color: #1b2129;
    margin-bottom: 40px;

    grid-column: 1/-1;

    @include for-ipad {
      grid-column: 1 / 7;
    }

    @include for-desktop {
      grid-column: 1/13;
    }
  }

  &--small {
    font-family: Manrope, sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.15px;
    color: #9393a3;
    margin-bottom: 8px;
  }
}
